* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: url(../assets/imgs/background.png);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}
.scrolling {
  position: relative;
  top: 0;
  left: 0;
  padding: 10px;
  width: 100vw;
  height: 95vh;
  z-index: -1;
  overflow: hidden;
  animation: all 1s;
}
.scrolling_item {
  font-weight: 700;
  position: absolute;
  white-space: nowrap;
  color: #00451e98;
  font-family: "shangshouxingyu";
  text-shadow: 2px 2px 8px rgba(255, 255, 255, 0.8);
}
a {
  text-decoration: none;
  color: #000;
  font-size: 24px;
  margin: 0 20px;
}

a:hover {
  color: #ff6347;
  /* Change to your desired hover color */
}
.imgs {
  width: 100vw;
  height: 100vh;
  position: absolute;
  overflow: hidden;
  img {
    width: 60%;
  }
}
.tree1 {
  position: absolute;
  top: -60%;
  left: -32%;
  transform: rotate(265deg);
}
.tree2 {
  position: absolute;
  top: -65%;
  right: -27%;
  transform: rotate(-45deg);
}
.tree3 {
  position: absolute;
  bottom: -68%;
  left: -13%;
  transform: rotate(-225deg);
}
.tree4 {
  position: absolute;
  bottom: -68%;
  right: -20%;
  transform: rotate(45deg);
}
.roll {
  width: 1700px;
  height: 1800px;
  position: absolute;
  top: 40vh;
  /* border: 1px solid #000; */
  transform-origin: center calc(50% + 50px);
  rotate: 0deg;
  /* animation: roll 6s linear forwards 1s; */

 
}
.roll-animate{
  animation: roll 4s  forwards 0s;
}
@keyframes roll {
  from {
    transform: rotate(100deg);
  }

  to {
    transform: rotate(0deg);
  }
}
.bg {
  width: 100%;
  height: 100%;
  background-image: url(../assets/imgs/home/roll.png);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: flex-start;

}

.bg .tab {
  width: 14%;
  height: 6%;
  background-image: url(../assets/imgs/home/btn.png);
  background-size: 100% 100%;
  object-fit: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: auto;
}
.bg.tab a {
  transition: 0.5s;
  font-size: 2rem;
}

.bg .tab:hover a {
  color: #ffd700;
  font-size: 2.8rem;
}

.bg a {
  font-family: "PingFang-SC-Regular";

  font-weight: 600;
  color: #f7e8c7;
}
.bg .origin {
  position: absolute;
  top: 4.5%;
  left: 15%;

  transform: rotate(-33deg);
}

.bg .coexistence {
  position: absolute;
  top: -3%;
  left: 51.5%;
  transform: translateX(-50%);
  z-index: 2;
}

.bg .wish {
  background-image: url(../assets/imgs/home/btn.png);
  position: absolute;
  top: 4.5%;
  right: 12%;
  transform: rotate(34deg);
}
