.detail-container {
  width: 100%;
  min-height: 100vh;
  background-image: url('../assets/imgs/background.png');
  background-size: contain;
  background-position: center;
  background-attachment: fixed;
}
footer {
  overflow-x: hidden;
  width: 100%;
  position: absolute;
  bottom: 2rem;
  display: flex;
  cursor: pointer;
}

footer > span {
  margin-right: 2rem; /* me-8 */
  flex: 0 0 15.5rem; /* 固定宽度，不允许缩放 */
  /* overflow: hidden; */
}
footer > span > p {
  font-family: 'PingFang-SC-Semibold';
  font-size: 2rem;
  line-height: 144%;
  letter-spacing: -1.1%;
  color: #6b401d;
  margin-top: 0.5rem;
  text-align: center;
}
.footer-img-container {
  overflow: hidden;
  width: 100%;
}
footer img {
  height: 14rem;
  scale: 1.6;
  transform: translate(10%, -14%);
}
.footer-img-container:hover {
  scale: 0.9;
}
