* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  width: 100vw;
  flex-direction: column;
  position: relative;
  background-image: url("../assets/imgs/background.png");
}

.page-1 {
  width: 100vw;
  height: 100vh;
  position: relative;

  overflow: hidden;
  img {
    position: absolute;
  }
}

.page-1 .wish-bg {
  width: 90%;
  height: 75%;
  object-fit: fill;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
.page-1 .sun {
  width: 13%;

  object-fit: fill;
  z-index: 15;
  left: 0;
  top: 0;
}
.page-1 .cover-bg {
  width: 100%;
  height: 30%;
  object-fit: fill;
  z-index: 10;
  bottom: 0;
}
.page-1 .green-bg {
  width: 100%;
  height: 30%;
  object-fit: fill;
  z-index: -1;
  bottom: 0;
}
.page-1 .rice {
  width: 15%;
  object-fit: fill;
  z-index: -7;
  left: 0%;
  bottom: 15%;
}
.page-2 {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  .img {
    img {
      position: absolute;
    }
  }
}
.page-2 .content {
  width: 800px;
  height: 500px;
  padding: 0px 60px;
  /* border: 1px solid #000; */
  display: flex;
  gap: 80px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.page-2 .content p {
  text-align: center;
  letter-spacing: 1px;
  font-family: "PingFang-SC-Medium";
  font-size: 1.4rem;
  line-height: 1.8;
}
.page-2 .clouds {
  .cloud1 {
    width: 25%;
    position: absolute;
    top: 15%;
    left: 28%;
  }
  .cloud2 {
    width: 15%;
    position: absolute;
    top: 45%;
    left: 14%;
  }
  .cloud3 {
    width: 20%;
    position: absolute;
    top: 50%;
    left: 78%;

    transform: scaleX(-1);
  }
  .sun {
    width: 13%;
    position: absolute;
    top: 8%;
    right: 5%;
  }
}
.page-2 .people {
  .left {
    width: 20%;
    position: absolute;
    top: 25%;
    left: 5%;
  }
  .right {
    width: 20%;
    position: absolute;
    top: 60%;
    right: 5%;
  }
}
.page-2 .gomove {
  .car {
    width: 10%;
    top: 57%;
    left: 28%;
  }
  .cow {
    width: 13%;
    top: 33%;
    left: 60%;
  }
}
.page-3 {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.page-3 .img {
  img {
    position: relative;
  }
  .green-3 {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
  }
}
